extends extends/base

block content

  #ray-ban

    input(type="checkbox" id="goToMenu")
    include includes/header
    include includes/banner
    include includes/carousel
    include includes/service

    include includes/footer

block bottom
