.rayban__banner
  .rayban__container
    .rayban__banner__content
      .rayban__banner__information
        h1.title So this is
        p.text where the story ends A conversation on I'm  Well I'm done here the story endsA conversation on I'm  Well I'm done with texting Sorry for the scommunication with texting Sorry for the iscommunication

        .rayban__banner__bottom
          .rayban__banner__box
            p.text WOMAN
              span
                img.icon(src="/images/icon-flecha.png", alt="")

          .rayban__banner__box
            p.text MAN
              span
                img.icon(src="/images/icon-flecha.png", alt="")

          .rayban__banner__box
            p.text CHILDREN
              span
                img.icon(src="/images/icon-flecha.png", alt="")
