.rayban__carousel
  .rayban__container
    h1.title THE MOST LEGENDARY SUNGLASSES
    .rayban__carousel__content
      .rayban__carousel__box
        img.box__imagen(src="/images/sunnglasess_1.png", alt="")
        .description
          p.titleGlass AVIATOR CLASSIC
          p.text So this is where the story ends A conversation on I'm  Well I'm done with
        .bottom
          p.bottom__text NEW MODEL

      .rayban__carousel__box
        img.box__imagen(src="/images/sunnglasess_2.png", alt="")
        .description
          p.titleGlass AVIATOR CLASSIC
          p.text So this is where the story ends A conversation on I'm  Well I'm done with
        .bottom
          p.bottom__text NEW MODEL


      .rayban__carousel__box
        img.box__imagen(src="/images/sunnglasess_3.png", alt="")
        .description
          p.titleGlass AVIATOR CLASSIC
          p.text So this is where the story ends A conversation on I'm  Well I'm done with
        .bottom
          p.bottom__text NEW MODEL

      //- .rayban__carousel__box
      //-   img.box__imagen(src="/images/sunnglasess_4.png", alt="")
      //-   .description
      //-     p.titleGlass AVIATOR CLASSIC
      //-     p.text So this is where the story ends A conversation on I'm  Well I'm done with
      //-   .bottom
      //-     p.bottom__text NEW MODEL

