header.rayban__header
  .rayban__container
    nav.rayban__header__container
        .rayban__header__logo
          a.linklogo(href="#")
            img.logo(src="/images/logo-rayban.png")

        .rayban__header__close
          label.close(for="goToMenu")
            span
            span
            span

        .rayban__header__options
          ul.menu
            li.menu__option
              a.option(href="#", target='_blank') SUNGLASSES
            li.menu__option
              a.option.option--active(href="#", target='_blank') EYEGLASSES
            li.menu__option
              a.option(href="#", target='_blank') CUSTOMIZE
            li.menu__option
              a.option(href="#", target='_blank') PRESCRIPTION
