.rayban {

  &__header {

    background: #000;
    height: 100px;

    @media only screen and (max-width: 1024px) {

      height: 80px;
    }

    &__container {

      align-items: center;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 960px) {

        padding: 0 2%;
      }
    }

    .logo {

      height: 100px;

      @media only screen and (max-width: 1024px) {

        height: 80px;
      }

    }

    &__close {

      @media only screen and (min-width: 960px) {
        display: block;
      }
      @media only screen and (min-width: 961px) {
        display: none;
      }

    }

    .close {

      cursor: pointer;

      span {

        background-color: #fff;
        display: block;
        height: 8px;
        transition: transform 0.25s ease-out;
        width: 50px;
      }

      span:not(:first-child):not(:last-child) {

        margin: 7px 0;
      }
    }

    .menu {

      align-items: center;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 960px) {

        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }

      &__option {

        @media only screen and (max-width: 960px) {

          padding: 2.25% 0;
        }
      }
    }

    &__options {

      width: 50%;

      @media only screen and (max-width: 1366px) {

        width: 60%;
      }

      @media only screen and (max-width: 1024px) {

        width: 65%;
      }

      @media only screen and (max-width: 960px) {

        background-color: rgba(0, 0, 0, 0.92);
        bottom: 0;
        height: 100%;
        left: 100%;
        position: fixed;
        transition: left 0.25s ease-out;
        width: 100%;
      }
    }

    .option {

      color: #c9c9c9;
      font-size: 16px;

      @media only screen and (max-width: 1366px) {

        font-size: 16px;
      }

      @media only screen and (max-width: 960px) {

        font-size: 32px;
        letter-spacing: 5px;
      }

      &--active {

        color: #fff;
        font-weight: bold;
      }
    }


  }
}

#goToMenu {

  &:checked {

    & + .rayban__header {

      .rayban {

        &__header {

          &__close {

            position: relative;
            z-index: 999;

            span {

              transition: transform 0.25s ease-out;

              &:first-child {

                transform: rotate(45deg) translate(5px);
              }

              &:last-child {

                transform: rotate(-45deg) translate(5px);
              }

              &:not(:first-child):not(:last-child) {

                height: 0;
                margin: 0;
                width: 0;
              }
            }
          }

          &__options {

            left: 0;
            transition: left 0.25s ease-out;

            .menu {

              @media only screen and (max-width: 960px) {

                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
              }

              .option {

                @media only screen and (max-width: 960px) {

                  font-size: 32px;
                  letter-spacing: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
